---
- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: present

- name: Allow HTTP 
  ansible.builtin.ufw:
    rule: allow
    port: 80
    proto: tcp

- name: Allow HTTPS
  ansible.builtin.ufw:
    rule: allow
    port: 443
    proto: tcp

- name: Ensure nginx is running
  ansible.builtin.service:
    name: nginx
    state: started
