---
- name: Generate SSH keypair locally (ed25519)
  community.crypto.openssh_keypair:
    type: ed25519
    path: "{{ lookup('env','HOME') + '/.ssh/' + user + '_deploy_ec2' }}"
    force: false
  delegate_to: localhost
  become: false
  run_once: true
  
- name: Ensure .ssh exists for user {{ user }}
  ansible.builtin.file:
    path: "/home/{{ user }}/.ssh"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0700"

- name: Install public key for user {{ user }}
  ansible.posix.authorized_key:
    user: "{{ user }}"
    state: present
    key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/' + user + '_deploy_ec2.pub') }}"

