- name: Ensure script path exists
  ansible.builtin.file:
    path: "{{ scripts_path }}"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Copy backup script to sv
  ansible.builtin.template:
    src: templates/backup.sh.j2
    dest: "{{ scripts_path }}/backup.sh"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0755

- name: Setup default configuration 
  ansible.builtin.template:
    src: templates/backup-cron.j2
    dest: "/etc/cron.d/db-backup"
    owner: root
    group: root
    mode: 0644

- name: Restart cron to ensure new job is picked up
  ansible.builtin.service:
    name: cron
    state: restarted