- name: Copy healtcheck scrip to sv
  ansible.builtin.template:
    src: templates/healthcheck.sh.j2
    dest: "{{ scripts_path }}/healtcheck.sh"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0755

- name: Setup default configuration 
  ansible.builtin.template:
    src: templates/healtcheck-cron.j2
    dest: "/etc/cron.d/healtcheck"
    owner: root
    group: root
    mode: 0644

- name: Restart cron to ensure new job is picked up
  ansible.builtin.service:
    name: cron
    state: restarted

