- name: Ensure app directory exists
  ansible.builtin.file:
    path: "{{ project_path }}"
    state: directory

- name: Copy app and container files
  ansible.builtin.synchronize:
    src: /Users/jeancarloalvarado/Documents/proyectos/flask_calc/
    dest: "{{ project_path }}"
    delete: yes
    rsync_opts:
      - "--exclude=venv/"
      - "--exclude=__pycache__/"
      - "--exclude=.git/"
      - "--exclude=*.pyc"
      - "--exclude=.env"
      - "--checksum"
      - "--omit-dir-times"
      - "--no-perms"
      - "--no-owner"
      - "--no-group"
      

- name: Create app .env for docker compose
  template:
    src: app.env.j2
    dest: "{{ project_path }}/.env"
    owner: root
    group: root
    mode: "0600"
  notify: Compose up
  diff: true 

- meta: flush_handlers

- name: Wait for HTTPS health endpoint
  ansible.builtin.uri:
    url: "https://{{ domain }}.com/health"
    method: GET
    status_code: 200
    return_content: no
  register: health
  retries: 30
  delay: 2
  until: health.status == 200

- name: Display health result
  ansible.builtin.debug:
    msg: "Healthcheck passed!"
  when: health.status == 200


