# Managed by Ansible - DB Backup Cron

SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

{{ cron_minute | default('*') }} {{ cron_hour | default('*') }} {{ cron_day | default('*') }} {{ cron_month | default('*') }} {{ cron_weekday | default('*') }} {{ cron_user }} {{ backup_script_path }} >> {{ log_path }} 2>&1
