# Managed by Ansible - DB Backup Cron

SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

{{ cron_minute | default('5') }} {{ cron_hour | default('*') }} {{ cron_day | default('*') }} {{ cron_month | default('*') }} {{ cron_weekday | default('*') }} {{ user }} {{ scripts_path }}/backup.sh >> {{ log_path_backups }} 2>&1
