# SSH hardening - managed by Ansible
# This file is included from /etc/ssh/sshd_config
# DO NOT add Include directives here

Port {{ new_port }}

# Authentication
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
UsePAM yes

# Access control
{% set u = user if user is sequence and user is not string else [user] %}
AllowUsers ubuntu {{ u | join(' ') }}

# Security hardening
MaxAuthTries 3
X11Forwarding no

# Environment
AcceptEnv LANG LC_*
